// 📍 Address
@import 'variables';

.rbg-business-hours {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;

    &__day {
        flex: 1;
    }

    &__time {
        text-align: right;
    }

    &__today-true {
        font-weight: 600;
    }
}
