/**
 * Styles for the Yelp Widget Pro options panel
 */

#icon-wpbr {
	background: url('../images/platform-icon-wpbr.png') no-repeat 0 0 transparent;
	background-size: 60px;
	float: left;
	width: 80px;
	height: 60px;
}

#icon-wpbr + h2 {
	line-height: 55px;
	margin-bottom: 6px;
	font-size: 23px;
}

.control-group {
	margin-bottom: 10px;
}

.control-group:last-of-type {
	margin-bottom: 0;
}

.control-label {
	clear: left;
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.controls {
	display: inline-block;
}

.settings_page_gpr_widget #api-options input[type="text"] {
	width: 280px;
}

.settings_page_gpr_widget input.button-primary {
	clear: left;
	width: auto;
	display: block;
}

.help-block {
	color: #999;
	font-size: 85%;
	margin-top: 2px;
}

/* Sidebar Sortables */
#sidebar-sortables .postbox {
	min-width: auto;
}
a.wpbr-option-page-upsell {
	color: #ee4835;
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	top: 37px;
	left: 460px;
	outline: none;
	box-shadow: none;
	text-decoration: underline;
}

a.wpbr-option-page-upsell svg {
	fill: #ee4835;
	height:20px;
	width:20px;
	position: relative;
	top: 3px;
	left: -4px;
}

/* Metaboxes */
.js .postbox .hndle {
	cursor: default;
}

.handlediv {
	display: none;
}
